{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Alumno</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Detalle de Alumno</h1>
        <p><strong>Nombre:</strong> {{ alumno.nombre }}</p>
        <p><strong>Documento de Identidad:</strong> {{ alumno.documentoIdentidad }}</p>
        <p><strong>Curso:</strong> {{ alumno.curso.nombre }} - Año: {{ alumno.curso.año }}</p>
        <a href="{% url 'cursos/' %}">Volver a la lista de Cursos</a>
    </div>
</body>
</html>
